.post{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 10px rgba($color: black, $alpha: .2);
    margin: 60px auto;
    width: 70%;
    @media screen and (max-width: 768px) {
        width: 100%
    }
    &__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 20px;
        background-color: $color-primary;
        border-radius: 10px 10px 0 0;
        a{
            color: white;
            font-size: 1.3em;
            @media screen and (max-width: 425px) {
                font-size: 1em;
            }
            &:hover{
                color: $color-secondary;
                cursor: pointer;
            }
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        padding: 40px 60px;
        font-size: 1.3em;
        @media screen and (max-width: 425px) {
            font-size: 1em;
            padding: 20px;
        }
        &__img{
            margin-top: 20px;
            width: 100%;
        }
    }
}