// COLORS
$color-primary: #192946;
$color-secondary: #d1515a;
$color-tertiary: #bdc3c7;
$color-background: #f1f2f6;
$color-btnSignup: #2ecc71;
$color-btnSignup_2: rgba(46, 204, 113, 0.7);
$color-btnSignup_3: rgba(46, 204, 113, 0.15);
$color-btnSignin: #3498db;
$color-btnSignin_2: rgba(52, 152, 219, 0.7);
$color-btnSignin_3: rgba(52, 152, 219, 0.15);